<li class="comment">
  <div class="comment-body">
    <div class="comment-authorinfo">
      <div class="comment-authorimage">
        <img src="{{ post.author.avatar(36) }}" class="avatar" />
      </div>
      <span class="comment-authorname">
        <a
          href="{{ url_for('user', username=post.author.username) }}"
          class="comment-authorurl url"
        >
          {{ post.author.username }}
        </a>
        </span
      >
      <span class="comment-date">said {{ moment(post.timestamp).fromNow() }}:</span>
    </div>
    <p class="comment-text">{{ post.body }}</p>
  </div>
</li>
